<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <title>Hi Sehaj From EmailGrab {{ contactType }}:{{email}} wants to contact.</title>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 5px;
                text-align: left;    
            }    
        </style>
    </head>
<body>
    <table>
        <tr>
            <th>Email</th>
            <td>{{email}}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{country}} | {{regionName}} | {{city}}</td>
        </tr>
        <tr>
            <th>Client Ip</th>
            <td>{{userIp}}</td>
        </tr>
        <tr>
            <th>Client Device</th>
            <td>{{clientDevice}}</td>
        </tr>
        <tr>
            <th>Client Browser</th>
            <td>{{browser}}</td>
        </tr>
    </table>
</body>
</html>
